:root{
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Overpass;
}
body{
    background-color: var(--Very-Dark-Blue);
}

.container{
    margin-left: 15px;
    margin-right: 15px;
    width:90%;
}

.container{
    width:350px;
    background-color: var(--Dark-Blue);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 30px 20px;
}