:root{
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
--primary:hsl(25, 97%, 53%);
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Overpass;
}
body{
    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-left: 15px;
    margin-right: 15px;
    width:80%;
}

.container{
    background-color: var(--Dark-Blue);
    border-radius: 15px;
    padding: 30px 10px 30px 20px;
    margin-top: 40%;
}

.image-container{
    border-radius: 50%;
    width:35px;
    aspect-ratio: 1/1;
    background-color: hsl(216deg 10% 21%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.image-container img{
    width:15px;
}
h2{
    color: var(--White);
    margin-bottom: 15px;
}
p{
    font-size: 15px;
    color: var(--Medium-Grey);
    margin-bottom: 25px;
}
.circle-btn{
    display: flex;
    gap:15px;
    margin-bottom: 20px;
}
.circle-btn button{
    border-radius: 50%;
    width:35px;
    aspect-ratio: 1/1;
    background-color: hsl(216deg 10% 21%);
    justify-content: center;
    align-items: center;
    border:none;
    color:var(--Light-Grey);
}
.circle-btn button:hover{
  background-color: var(--primary);
  color: var(--White);
}
.submit{
    background-color: hsl(25, 97%, 53%);
    border: none;
    padding: 13px 40%;
    border-radius: 40px;
    color: var(--White);
}
.submit:hover{
  background-color: var(--White);
  color: var(--primary);
}